html {
  font-size: 18px;
}

body {
  margin: 20px;
  background-color: #fff4ef;
}

div {
  color: #333;
  padding: 20px;
}

a {
  display: inline-block;
  margin: 10px 0;
}

#box1 {
  font-size: 40px;
  background-color: #ffcccc;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

  &:hover {
    background-color: #ccc;
  }

  &,
  &__title {
    border-radius: 20px;
    border: 3px solid #f00;
  }

  &__title {
    font: {
      style: italic;
    }
    text: {
      decoration: none;
    }
  }

  & > a {
    color: #a22;
    text-decoration: none;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  #box2 {
    font-size: 20px;
    background-color: #e9e9e9;
    border-radius: 20px;
    border: 3px solid #f00;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

    & > a {
      color: #ee6633;
      text-decoration: none;

      &:hover {
        color: #a22;
        text-decoration: underline;
      }
    }
  }
}
