@mixin fontSizeBgColor($fontSize: 40px, $bgColor: #ffcccc) {
  font-size: $fontSize;
  background-color: $bgColor;
}
@mixin linkStyle($textColor: #a22, $textDeco: none) {
  color: $textColor;
  text-decoration: $textDeco;
}
html {
  font-size: 18px;
}

body {
  margin: 20px;
  background-color: #fff4ef;
}

div {
  color: #333;
  padding: 20px;
}

a {
  display: inline-block;
  margin: 10px 0;
}

#box1 {
  @include fontSizeBgColor;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

  &:hover {
    background-color: #ccc;
    @media screen and (max-width: 500px) {
      background-color: #fff;
    }
  }

  &,
  &__title {
    border-radius: 20px;
    border: 3px solid #f00;
  }

  &__title {
    font: {
      style: italic;
    }
    text: {
      decoration: none;
    }
  }

  & > a {
    @include linkStyle;
    &:hover {
      @include linkStyle(#000, underline);
    }
  }

  #box2 {
    @include fontSizeBgColor(20px, #e9e9e9);
    border-radius: 20px;
    border: 3px solid #f00;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

    & > a {
      @include linkStyle(#ee6633, none);

      &:hover {
        text-decoration: underline;
        @include linkStyle(#a22, underline);
      }
    }
  }
  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
  @media screen and (min-width: 501px) and (max-width: 900px) {
    font-size: 24px;
  }
}
